pricing_system.db
moex_rate.json
.gitignore
rate_fallback.json
.idea/logistics.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/project.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/exchange_service.cpython-313.pyc
docs/context.md
__pycache__/db_utils.cpython-313.pyc
__pycache__/logic.cpython-313.pyc
__pycache__/ui_logistics.cpython-313.pyc
__pycache__/ui_pricing.cpython-313.pyc
__pycache__/ui_products.cpython-313.pyc
__pycache__/ui_user.cpython-313.pyc
logistics.db
usd_rate_fallback.json
__pycache__/db_utils.cpython-312.pyc
__pycache__/exchange_service.cpython-312.pyc
__pycache__/logic.cpython-312.pyc
__pycache__/ui_logistics.cpython-312.pyc
__pycache__/ui_pricing.cpython-312.pyc
__pycache__/ui_products.cpython-312.pyc
__pycache__/ui_user.cpython-312.pyc
